{% extends "layout.html" %}

{% block content %}

<link rel="stylesheet" href="/static/form-setup.css">

<form class="" method="POST">
    {{ form.csrf_token }}

    <div class="form-sec-one">
      <h3>{{ form.Sigla.label }}</h3> {{ form.Sigla(class_="form-field big") }}
      <h3>{{ form.Nome.label }}</h3> {{ form.Nome(class_="form-field big") }}
      <h3>{{ form.EmFuncoes.label }}</h3> {{ form.EmFuncoes(class_="form-field big") }}
    </div>

    <div class="form-sec-two">
      <h3>{{ form.Formacao.label }}</h3> {{ form.Formacao(class_="form-field big") }}
      <h3>{{ form.Extincao.label }}</h3> {{ form.Extincao(class_="form-field big") }}
      <h3>{{ form.Periodo.label }}</h3> {{ form.Periodo(class_="form-field big") }}
    </div>

    <div class="form-sec-txtarea">
      <div class="form-text">
        <h3>{{ form.Descricao.label }}</h3> {{ form.Descricao }}
      </div>

      <div class="form-text">
        <h3>{{ form.Fontes.label }}</h3> {{ form.Fontes }}
      </div>

      <div class="form-text">
        <h3>{{ form.Observacoes.label }}</h3> {{ form.Observacoes }}
      </div>
    </div>

    {% if update == True %}
    <div class="update-buttons button-submit">
      <p>
        <button type="submit" class="button-update button-style">Salvar</button>
      </p>
    </div>
    {% else %}
    <div class="">
      {{ form.Submit(class_="button-submit button-style") }}
    </div>
    {% endif %}

  </form>

  <script type="text/javascript">
    // Permite injectar valores da DB no formulário
    // a partir de um dicionário convertido em JSON.
    var data = {{ data|safe }};
    for (let key of Object.keys(data)) {
      if (data[key] != null) {
        document.getElementById(key).value=data[key];
      }
    }
  </script>

{% endblock %}
